<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Pizzeria</title>
</head>

<body>
<div id="header" th:insert="header :: header"></div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin">Admin panel</a></li>
        <li class="breadcrumb-item"><a href="/admin/souse">Souse panel</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update souse</li>
    </ol>
</nav>

<h1 style="text-align:center;">Edit souse</h1>
<form th:object="${souse}" th:action="@{'/admin/souse/update'}" th:method="put" style="max-width:500px; margin:auto;">
    <input type="hidden" id="id" name="id" th:field="${souse.id}" th:value="${souse.id}"><br>
    <br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="${souse.name}" th:value="${souse.name}" required><br>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" th:field="${souse.price}" th:value="${souse.price}" min="1" required><br>
    <br>
    <label for="volume">Weight:</label>
    <input type="number" id="volume" name="weight" th:field="${souse.weight}" th:value="${souse.weight}" min="1" required><br>
    <br>
    <label for="spice" style="margin-right:10px; margin-bottom: 10px;">Spice:</label>
    <select id="spice" name="spice" required style="flex:1; margin-bottom: 10px;">
        <option value="true" th:selected="${souse.spice} == true">True</option>
        <option value="false" th:selected="${souse.spice} == false">False</option>
    </select><br>
    <br>
    <input type="submit" value="Update spice" style="background-color:#444444; color:#f2f2f2; border:none; padding:10px 20px; border-radius:5px; cursor:pointer;">
</form>

<div style="width: 200px; height: 200px;"></div>
<footer><div id="" th:insert="footer :: footer"></div></a></footer>


</body>
</html>