<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Menu</title>

</head>
<body>
<div id="header" th:insert="header :: header"></div>

<div style="width: 20px; height:20px;"></div>

<div class="text-center">
  <a href="/menu/pizza" class="btn btn-secondary">Pizza</a>
  <a href="/menu/drinks/non-alcohol" class="btn btn-secondary">Drinks</a>
  <a href="/menu/construction" class="btn btn-secondary">Construct your own pizza</a>
</div>

<div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
  <div style="display: flex; align-items: center;">
    <div style="flex: 0 0 500px; margin-right: 20px;">
      <img th:src="@{https://img.freepik.com/free-photo/top-view-of-pepperoni-pizza-sliced-into-six-slices_141793-2157.jpg}"
           style="width: 100%; height: auto;" alt="Pizza Image">
    </div>
    <div style="flex: 1;">
      <h1>Pizza created</h1>
      <p>Souse: <span th:text="${pizza.souse.name}"></span></p>
      <p>Ingredients:
        <span th:each="ingredient, iterStat : ${pizza.ingredients}">
        <span th:text="${ingredient.name}"></span>
        <span th:unless="${iterStat.last}">, </span>
    </span>
      </p>
      <p>Price: <span th:text="${pizza.price}"></span> UAH</p>
      <p>Size: <span th:text="${pizza.size}"></span> sm</p>
      <p>Weight: <span th:text="${pizza.weight}"></span> gram</p>
      <form method="get" action="/menu/construction/created/add-to-order">
        <input type="hidden" name="id" th:value="${pizza.id}">
        <input type="submit" value="ADD TO ORDER">
      </form>
    </div>
  </div>
</div>

<div style="width: 200px; height: 200px;"></div>
<footer><div id="" th:insert="footer :: footer"></div></a></footer>

</body>
</html>